.data-table-actions{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ee7100;
    display: flex;
    justify-content: center;
    align-items: center;
    i{
        color: #fff;

    }
}